
<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Simple Profile App on Angular">
		<title>Profile App</title>
		<link rel="stylesheet" type="text/css" href="public/css/style.min.css" />
		<script src="public/libraries/jquery.min.js"></script>
		<script src="public/libraries/jquery.min.js"></script>
		<script id="angularScript" src="public/libraries/angular.min.js"></script>

	</head>
	<body>
		<div class="body" ng-app="data">
			<div class="content" ng-controller="users">
			<button ng-click="add()" ng-bind="'Add Student'"></button>
				<ul>
					<li ng-repeat="student in students">
						<span ng-bind="student.name"></span><br/> 
						<span ng-bind="student.email"></span><br/>
						<span ng-bind="student.address"></span><br/>
						<span ng-bind="student.username"></span><br/>
						<img width="200px" height="200px" ng-src="public/image/{{student.avatar}}" alt="" /><br/>
						<button ng-click="edit(student.id)" ng-bind="'edit'"></button> <br><br>
					</li>
				</ul>
				<div ng-class="'popup'" ng-show="showPop">
				<h3>Edit Student</h3>
					<form ng-submit="save()">
						Name: <input type="text" ng-model="editor.name" ng-value="editor.name"> <br> <br>
						Email: <input type="email" ng-model="editor.email" ng-value="editor.email"> <br> <br>
						Address: <input type="text" ng-model="editor.address" ng-value="editor.address"> <br> <br>
						UserName: <input type="text" ng-model="editor.username" ng-value="editor.username"> <br> <br>
						Image: <select ng-model="editor.avatar" id="">
							<option ng-repeat="pic in pics" ng-selected="pic == editor.avatar" ng-value="pic" ng-bind="pic"></option>
						</select> <br> <br>
						<input type="submit" id="submit" value="Submit" style="margin-left: 150px;"/>
						<button ng-click="cancelPop()" ng-bind="'Cancel'"></button>
					</form>
				</div>
				<div ng-class="'popup2'" ng-show="showPop2">
				<h3>Add Student</h3>
						<form ng-submit="save2()">
							Name: <input type="text" ng-model="addition.name"> <br> <br>
							Email: <input type="email" ng-model="addition.email"> <br> <br>
							Address: <input type="text" ng-model="addition.address"> <br> <br>
							UserName: <input type="text" ng-model="addition.username"> <br> <br>
							Image: <select ng-model="addition.avatar" id="">
								<option ng-repeat="pic in pics" ng-value="pic" ng-bind="pic"></option>
							</select> <br> <br>
							<input type="submit" id="submit" value="Submit" style="margin-left:150px;"/>
							<button ng-click="cancelPop2()" ng-bind="'Cancel'"></button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="public/js/script.js"></script>
	</body>
</html>
