body {
	background: #eee;
}

.popup {
	background: rgba(92, 92, 92, 1);
	padding: 10px;
	color: #fff;
	width: 500px;
	position: fixed;
	top: 50px;
	left: 50%;
	margin-left: -250px;
}

 .popup2 {
 	background: rgba(92, 92, 92, 1); 
	padding: 10px;
	color: #fff;
	width: 500px;
	position: fixed;
	top: 50px;
	left: 50%;
	margin-left: -250px;
 }

 ul {
 	list-style: none;
 	li {
 		float:left;
 		margin-right: 20px;
 		margin-bottom: 20px;
 		img {
 			margin-bottom: 10px;
 		}
 	}
 }

 form {
 	input[type="submit"] {
 		margin-right: 10px;
 	}
 }